@mixin box-shadow {
    box-shadow: 1px 3px 2px 1px #e6e4e4;
}

@mixin strongerbox-shadow {
    box-shadow: 2px 4px 3px 2px $icone-color;
}

@mixin background {
    background: linear-gradient(to left top, $primary-color, $secondary-color);
}

@mixin overflow {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}